<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
        <div class="item">
      <form class="item" action="/remove" method="post">
        <input type="checkbox" name="checkbox" value=<%= newListItems[i].id %> onChange= "this.form.submit()">
        <p><%=  newListItems[i].name  %></p>
      </form>
      </div>
     <% } %>

      <form class="item" action="/work" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %> >+</button>
      </form>
  </div>

<%- include("footer") -%>

